services:
  frontend:
    container_name: react_frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173" # Внешний порт 5173 (хост) на внутренний порт 5173 (контейнер)
    environment:
      - CHOKIDAR_USEPOLLING=true # Для работы горячей перезагрузки (hot reload)
    stdin_open: true
    tty: true
