input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #A4C1FF inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
    border:#0A57FF;

  }
  